body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 24px;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 8px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 160px;
  text-align: left;
  padding: 0;
  z-index: 1;
}

.dropdown-content li {
    list-style-type: none;
    padding: 13px 14px;
    font-size: small;
}

.dropdown-content.show {
  display: block;
  justify-items: center;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .navbar.active {
    display: flex;
    margin-top: 3%;
    z-index: 10;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    padding: 3%;
  }

  .dropdown-content {
    position: static;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar.active{
    margin-top: 8%;
  }
}