body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo.a {
  color: white;
  font-size: 24px;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

/* Dropdown oculto por defecto */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  text-align: left;
}

/* Mostrar dropdown cuando la clase "show" está presente */
.dropdown-content.show {
  display: block;
}

/* Dropdown en móviles */
@media (max-width: 768px) {
  .dropdown-content {
    width: 100%;
  }
}

.dropdown-content li {
  display: block;
  width: 20%;
}

.dropdown-content li a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: #111;
}

.dropdown .show {
  display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    border-top: 1px solid #444;
  }

  .navbar.active {
    display: flex;
    margin-top: 30px;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #444;
  }

  .navbar li:last-child {
    border-bottom: none;
  }

  .navbar li a {
    display: block;
    padding: 14px 20px;
  }

  /* Dropdown Styles for mobile */
  .dropdown-content {
    width: 100%;
  }

  .dropdown-content li a {
    padding: 14px 20px;
    text-align: left;
  }
}


